.container {
  width: 50vw;
  min-width: 400px;
  margin: 0 auto;
  height: calc(100vh - 4rem);
  --color-gray: rgba(0, 0, 0, 0.1);
  --color-primary: #c4ddd6;
  --color-primary-light: #d4ddd6;
  --color-secondary: #e4e3cd;
  --color-secondary-light: #ececdd;
}

.messages {
  height: 90%;
  border: 1px solid var(--color-gray);
  border-radius: 12px;
  padding: 0 1rem;
}
.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
}
.message-container.message--sended {
  align-items: flex-end;
}
.message {
  display: inline-block;
  padding: 1rem;
  background-color: var(--color-primary-light);
  border-radius: 12px 12px 11px 0px;
}
.message.message--sended {
  text-align: right;
  border-radius: 12px 0px 11px 12px;
  padding-right: 2rem;
  background-color: var(--color-secondary-light);
}
.message-date {
  color: var(--color-gray);
  font-size: 12px;
}
form {
  width: 100%;
  height: 3rem;
}
input {
  width: 70%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--color-gray);
  transition: border 300ms ease-in;
  padding: 0.5rem;
}
input:focus {
  outline: none;
  border: 2px solid var(--color-primary);
}

button {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  margin-left: 1rem;
  border: none;
  background-color: var(--color-primary);
  border-radius: 4px;
  opacity: 0.6;
  transition: opacity 300ms ease-in;
}
button:focus,
button:hover {
  cursor: pointer;
  opacity: 1;
}
