<div class="container">
  <ul class="messages">
    <li
      [ngClass]="{'message--sended': message.from === 'user' }"
      *ngFor="let message of messages"
      class="message-container"
    >
      <div
        class="message"
        [ngClass]="{'message--sended': message.from === 'user' }"
      >
        {{message.content}}
      </div>
      <span class="message-date">{{message.date}}</span>
    </li>
  </ul>
  <form action="">
    <input [(ngModel)]="message.content" name="content" autocomplete="off" />
    <button (click)="onMessageSend()">Send</button>
  </form>
</div>
